html, body{
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1 0 auto;
    justify-content: center;
}
.content-a{
    background-color: rgb(238, 92, 39);
    flex: 1 0 auto;
}
.content-b{
    background-color: rgb(40, 126, 73);
    flex: 1 0 auto;
}
.content-c{
    background-color: rgb(218, 153, 32);
    flex: 1 0 auto;
}
.head{
    color: white;
}
.body{
    color: rgba(255, 255, 255, 0.651);
    font-size: large;
}
.button1{
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    background-color: rgb(238, 92, 39);
    color: white;
    width: 150px;
    height: 30px;
    cursor: cell;
    font-size: medium;
}
.button2{
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    background-color: rgb(40, 126, 73);
    color: white;
    width: 150px;
    height: 30px;
    cursor: cell;
    font-size: medium;
}
.button3{
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    background-color: rgb(233, 169, 50);
    color: white;
    width: 150px;
    height: 30px;
    cursor: cell;
    font-size: medium;
}

@media screen and (max-width: 576px) {
   body {
    align-items: flex-start;
}
    .content {
        flex-direction: column;
} 
}